# IntelliJ
.idea/
*.iml

# Build
target/
out/
build/

# Logs / temp
*.log
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db

# Env
.env
*.local

# Docker
*.pid
docker-compose.override.yml

# Spring Boot (lokalne)
application-*.yml
application-*.properties

# JetBrains HTTP
httpRequests/

